<!doctype html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Coffee
  link(rel="stylesheet", href="css/style.css")
body
 .wrap
  h1 Nice
  p I'm was created in jade, and I like this fact. I was complied via Gulp. Nice Nice Nice
  p Ipsa a, tempore quasi repellendus temporibus totam, expedita pariatur nobis nesciunt, ullam quam debitis architecto aperiam! Aliquam voluptates necessitatibus ipsam temporibus, nesciunt ea itaque quidem ut. At aspernatur, consequatur voluptas.
  p Nemo, cumque explicabo eum quos. Placeat vitae et sapiente dolore natus incidunt, totam repudiandae enim laborum minima numquam ab maxime quasi facilis modi optio cumque autem error, laudantium veniam voluptatum?
  p Modi laborum nisi exercitationem est obcaecati eaque eos inventore saepe, optio voluptatibus aspernatur ex, sed quas, et praesentium magnam, officiis amet expedita voluptates fugit architecto iure! Fuga minus pariatur molestiae!
  script(src='js/script.js')

