// Test Basic Sass compiling

$mainColor: pink;
$choc: chocolate;

body {
  background-color: $mainColor;
  font-family: helvetica;
  color: beige;
  font-weight: 100;
}

h1 {
  font-weight: 100;
  text-shadow: 5px 5px 0 chocolate;
}

p {
  background-color: $choc;
  line-height: 2;
  border-radius: 10px 10px 0 0;
}
