//Test Basic Sass compiling

$mainColor: #eeefda;

 body {
  background-color: $mainColor;
  font-family: helvetica;
  color: teal;
  font-weight: 200;
}
 h1 {
    font-weight: 200;
 }

p {
  background-color: lighten(#444, 30);
  line-height: 2;
}
